.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 576px) {
  .wrapper { max-width: 576px; }
}

@media (min-width: 768px) {
  .wrapper { max-width: 768px; }
}

@media (min-width: 992px) {
  .wrapper { max-width: 992px; }
}

@media (min-width: 1280px) {
  .wrapper { max-width: 1280px; }
}

@media (min-width: 1440px) {
  .wrapper { max-width: 1440px; }
}

.main {
  min-height: calc(100vh - var(--header-h));
}
